* {
  // outline: solid black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

$yase-purple: #8c8bd8;
$border-colour: #ffffff;
$shadow-colour: #000000;
$input-colour: #ffffff;
$faded-colour: #ffffffbd;
$yase-yellow: #fef3dd;

h1,
h2 {
  margin-bottom: -10px;
  color: white;
}

h2 {
  font-size: larger;
}

h1 {
  font-size: 1.3rem;
}

.intro {
  > p {
    color: $input-colour;
  }
}

.form-header {
  color: $input-colour;
}

.form-header + div {
  margin-top: -10px;
}

.input-icons {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: auto;
}

#valuation-icon {
  max-width: 100px;
  max-height: 100px;
}

.check {
  max-width: 25px;
  max-height: 25px;
}

#error-icon {
  max-width: 40px;
  max-height: 40px;
}

#london-banner {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.widget-container {
  margin: 2rem;
  outline: 5px solid $border-colour;
  min-width: 200px;
  border-radius: 10px;
  box-shadow: $shadow-colour 0px 7px 29px 0px;
  background-color: $yase-purple;
  //   width: 40%;
}

.container {
  outline: 5px solid white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    to bottom,
    $yase-purple,
    darken($yase-purple, 10%)
  );
  gap: 1rem;
  padding: 1rem 2rem 2rem 2rem;
  z-index: -1;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  //adjust time in clearWidget function
  > .top,
  .postcode-container {
    display: flex;
    position: relative;
    gap: 1rem;
    align-items: center;
  }
}

input,
select {
  outline: 1px solid darken($yase-purple, 5%);
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, 0.257) 0px 30px 60px -12px inset,
    rgb(255, 254, 254, 0.257) 0px 18px 36px -18px inset;
  background-color: $yase-purple;
  display: flex;
  flex: 1;
  margin: 0;
  padding: 1rem 1rem 1rem 1rem;
  border: none;
  font-size: 1rem;
  color: $input-colour;
  box-sizing: border-box;
  text-overflow: clip;
  &:focus {
    outline: 1px solid $input-colour;
  }
}

#postcode-input,
#number-input,
#email-input {
  padding-left: 2.2rem;
  width: 100%;
  max-width: 100%;
}

select,
input::placeholder {
  color: $input-colour;
}

.button-container {
  display: flex;
  gap: 1rem;

  > button {
    background-color: $yase-purple;
    outline: 1px solid $border-colour;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 1rem;
    font-weight: 700;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
  }
  > button.selected {
    background-color: lighten($yase-purple, 10%);
  }
  > button:not(.selected):hover {
    background-color: lighten($yase-purple, 10%);
  }
}

.row-input-container {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  > select {
    width: 100%;
    max-width: 100%;
  }
}

#first-name-input,
#second-name-input {
  border: none;
  display: flex;
  flex: 1;
  padding: 1rem;
  box-sizing: border-box;
  text-overflow: clip;
  width: 100%;
}

.disclaimer {
  margin-top: -5px;
  color: $input-colour;
  > a {
    color: $input-colour;
  }
}

.value-list-item {
  gap: 10px;
  color: $input-colour;
  display: flex;
  align-items: center;
  > .value-price {
    margin-left: auto;
  }
}

#average.value-list-item {
  font-size: larger;
}

#minimum,
#maximum {
  color: $faded-colour;
}

.results-display-container {
  display: flex;
  flex-direction: column;
  border-bottom: solid 0.5px rgba(255, 255, 255, 0.594);
}

.message-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  > p {
    color: #ffffffb8;
  }
}

.error-container {
  display: flex;
  flex-direction: rwo;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-bottom: solid 0.5px rgba(255, 255, 255, 0.594);
  > p {
    color: $input-colour;
  }
}

.loader {
  width: 100%;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid white;
  border-top-color: $yase-purple;
  border-radius: 50%;
  animation: loading 1s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

//next page button css

.button-next {
  align-items: center;
  appearance: none;
  background-color: $border-colour;
  border-radius: 10px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-next:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button-next:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-next:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}
