* {
  //   outline: solid black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

$yase-purple: #a4a4eb;
$border-colour: #353535;
$shadow-colour: #a09f9f;
$yase-yellow: #fbf3dc;
$input-colour: #636363;

.input-icons {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: auto;
}

#valuation-icon {
  max-width: 100px;
  max-height: 100px;
}

.container {
  margin: 2rem;
  outline: 1px solid $border-colour;
  display: flex;
  flex-direction: column;
  //   width: 40%;
  gap: 1rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: $shadow-colour 0px 7px 29px 0px;
  > .top,
  .postcode-container {
    display: flex;
    position: relative;
    gap: 1rem;
    align-items: center;
  }
}

input {
  display: flex;
  flex: 1;
  margin: 0;
  padding: 1rem 1rem 1rem 2rem;
  border: none;
  outline: 1px solid $border-colour;
  color: $input-colour;
  &:focus {
    outline: 1px solid $yase-purple;
  }
}

#button1 {
  padding: 1rem;
  font-weight: 700;
  background-color: $yase-purple;
  color: white;
  border: none;
  &:hover {
    background-color: lighten($yase-purple, 10%);
    cursor: pointer;
  }
}

.button-container {
  display: flex;
  gap: 1rem;

  > button {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 1rem;
    font-weight: 700;
    background-color: lighten($yase-purple, 10%);
    color: white;
    border: none;
    cursor: pointer;
  }
  > button.selected {
    background-color: $yase-purple;
    outline: 1px solid $border-colour;
  }
  > button:not(.selected):hover {
    background-color: $yase-purple;
    outline: 1px solid $border-colour;
  }
}

.row-input-container {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  > div {
    display: flex;
    flex: 1;
    select {
      outline: 1px solid $border-colour;
      border: none;
      display: flex;
      flex: 1;
      padding: 1rem;
      box-sizing: border-box;
      text-overflow: clip;
      width: 100%;
    }
  }
}

.square-input {
  padding-left: 1rem;
}

select,
input::placeholder {
  color: $input-colour;
}

#finish-input {
  display: flex;
  flex: 1;
  margin: 0;
  padding: 1rem 1rem 1rem 1rem;
  border: none;
  outline: 1px solid $border-colour;
  &:focus {
    outline: 1px solid $yase-purple;
  }
}
