$primary-font: "Playfair Display", serif;
$secondary-font: "Questrial", sans-serif;

$yase-purple: #a4a4eb;
$input-colour: #ffffff;
$faded-colour: #ffffffbd;
$yase-brown: #432600;

html {
  background-color: none;
}

h1,
h2,
p,
.form-header {
  color: $yase-brown;
}

h1 {
  font-size: 2rem;
  font-family: $primary-font;
  font-weight: 400;
}

h2 {
  font-size: 1.5rem;
  font-family: $primary-font;
}

p {
  font-size: 1.2rem;
  font-family: $secondary-font;
}

.form-header + div {
  margin-top: -10px;
}

.input-icons {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: auto;
}

.check,
#error-icon {
  max-width: 40px;
  max-height: 40px;
}

.check {
  max-width: 25px;
  max-height: 25px;
}

.widget-container {
  margin: 1rem;
  border-radius: 25px;
  outline: 1px solid $yase-brown;
  min-width: 320px;
  padding: 1rem 2rem 2rem;
  box-sizing: border-box; // Added to handle padding and border sizing properly
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  z-index: -1;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;

  > .top,
  .postcode-container {
    display: flex;
    position: relative;
    gap: 1rem;
    align-items: center;
  }

  // Responsive adjustments
  @media (max-width: 768px) {
    padding: 1rem;
    gap: 1rem;

    > .top,
    .postcode-container {
      flex-direction: column;
    }
  }
}

input,
select {
  font-family: $secondary-font;
  outline: 1px solid $yase-brown;
  border-radius: 10px;
  background-color: $input-colour;
  display: flex;
  flex: 1;
  margin: 0;
  padding: 1rem 1rem 1rem 1rem;
  border: none;
  font-size: 1rem;
  color: $yase-brown;
  box-sizing: border-box;
  text-overflow: clip;
  &:focus {
    outline: 1px solid $yase-brown;
  }
}

select,
input::placeholder {
  color: $yase-brown;
}

input:-webkit-autofill {
  -webkit-text-fill-color: $yase-brown;
  transition: background-color 5000s ease-in-out;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC);
  background-position: 100%;
  background-repeat: no-repeat;
}

#postcode-input,
#number-input,
#email-input {
  padding-left: 2.2rem;
  width: 100%;
  max-width: 100%;
}

.button-container {
  display: flex;
  gap: 1rem;

  > button {
    background-color: $yase-purple;
    outline: 1px solid $input-colour;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 1rem;
    font-weight: 700;
    color: $input-colour;
    border: none;
    cursor: pointer;
    border-radius: 20px;

    &.selected,
    &:hover:not(.selected) {
      background-color: lighten($yase-purple, 10%);
    }
  }

  // Responsive adjustments
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 0.5rem;
  }
}

.row-input-container {
  display: flex;
  gap: 1rem;
  flex-direction: row;

  > select {
    width: 100%;
    max-width: 100%;
  }

  // Responsive adjustments
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

#first-name-input,
#second-name-input {
  border: none;
  display: flex;
  flex: 1;
  padding: 1rem;
  box-sizing: border-box;
  text-overflow: clip;
  width: 100%;
}

.disclaimer {
  margin-top: -5px;
  color: $yase-brown;

  > a {
    color: $yase-brown;
  }
}

.value-list-item {
  gap: 10px;
  color: $input-colour;
  display: flex;
  align-items: center;

  > .value-price {
    margin-left: auto;
  }

  &#average {
    font-size: larger;
  }
}

.results-display-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  border-bottom: solid 0.5px $yase-brown;
}

.message-container {
  display: flex;
  flex-direction: column;
  margin-top: -10px;

  > h2 {
    font-weight: 300;
  }

  > p {
    color: $yase-brown;
    font-family: $secondary-font;
    font-size: 1rem;
  }
}

.error-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-bottom: solid 0.5px rgba(255, 255, 255, 0.594);

  > p {
    color: $input-colour;
  }
}

.loader {
  width: 100%;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &--hidden {
    opacity: 0;
    visibility: hidden;
  }

  &::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid white;
    border-top-color: $yase-brown;
    border-radius: 50%;
    animation: loading 1s ease infinite;
  }
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.button-next {
  align-items: center;
  appearance: none;
  background-color: transparent;
  outline: 1px solid $yase-brown;
  border-radius: 20px;
  border: none;
  box-sizing: border-box;
  color: $yase-brown;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  font-size: 1rem;
  font-weight: 100;
  transition: background-color 0.2s ease-in, outline 0.2s ease-in;

  &:focus,
  &:hover,
  &:active {
    background-color: white;
    outline: none;
  }
}
